.animediv {
  width: 200px;
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 7px;
  background-position: center;
}

.animediv p {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.548);
  margin: 0px;
}

.animediv:hover {
  box-shadow: 0px 0px 20px 10px rgba(150, 177, 218, 0.993);
}

.animedivcontain {
  display: flex;
  justify-content: center;
  align-items: center;
}
