.animeDetail {
  background: blue;
  height: 92vh;
  background-size: cover;
  background-position: center;
  /* padding: 40px; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.darken-pseudo {
  position: relative;
}

.darken-pseudo:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}
.darken-with-text h1 {
  z-index: 1;
  position: relative;
}

.darken-with-text h3 {
  z-index: 1;
  position: relative;
}
.animeDetail h1 {
  margin: 0px;
}

.detailimg {
  height: 400px;
  width: 275px;
  z-index: 1;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

.leftDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rightDetail {
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightDetail h1 {
  margin-top: 60px;
}

.rightDetail h3 {
  /* width:  */
  text-align: left;
}

.backbutton {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 5px;
  padding: 5px;
  border: 4px solid rgba(255, 255, 255, 0.479);
  margin: 10px;
}

.backbutton:hover {
  background-color: rgba(255, 255, 255, 0.616);
}

.addbutton:hover {
  background-color: rgba(93, 250, 114, 0.5);
  border: 4px solid rgba(107, 255, 127, 0.479);
  color: rgba(224, 250, 214, 0.863);
}
.green {
  background-color: rgba(93, 250, 114, 0.5);
  border: 4px solid rgba(107, 255, 127, 0.479);
  color: rgba(224, 250, 214, 0.863);
}

.deletebutton {
  background-color: rgba(250, 93, 93, 0.5);
  border: 4px solid rgba(255, 107, 107, 0.479);
  color: rgba(253, 192, 192, 0.863);
}

.overflow {
  overflow: scroll;
}

.synopsis {
  /* border: 4px solid yellow; */
  height: 40vh;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.74);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 770px) {
  .animeDetail {
    background: blue;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* padding: 40px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.7fr;
  }

  .detailimg {
    height: 40vh;
    width: 70vw;
    background-position: center;
  }

  .leftDetail {
    margin-top: 20px;
  }
  .rightDetail {
    justify-content: flex-start;
    padding-top: 13px;
  }

  .rightDetail h1 {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .animeDetail {
    grid-template-rows: 1fr 2fr;
    height: 92vh;
  }
  .detailimg {
    height: 250px;
    width: 70vw;
    background-position: center;
  }

  .rightDetail {
    justify-content: flex-start;
    padding-top: 13px;
    padding-top: 0px;
  }

  .rightDetail h1 {
    font-size: 20px;
  }
  .synopsis {
    height: 25vh;
    font-size: 12px;
  }
}
